SE_VNC_PASSWORD=change_this_password
SELENIUM_REMOTE_URL=http://selenium-chrome:4444/wd/hub
CHROME_PROFILE_DIR=/home/seluser/chrome-profile
HEADLESS=false

PLATFORM_NAME=movemeon
PROJECTS_COLLECTION=movemeon_projects
SESSION_KEY=movemeon_cookies

MOVEMEON_EMAIL=
MOVEMEON_PASSWORD=
MOVEMEON_DASHBOARD_URL=https://portal.movemeon.com/dashboard/candidate/jobs
MOVEMEON_JOBS_URL=https://portal.movemeon.com/dashboard/candidate/jobs

MONGO_URI=

SMTP_SERVER=
SMTP_PORT=587
SENDER_EMAIL=
SENDER_PASSWORD=
RECIPIENT_EMAILS=
DAILY_RUN_HOUR=23
DAILY_RUN_MINUTE=0
MAX_AGE_MINUTES=60
